*/config/development
*/logs/*
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
media/email/*

application/config/mongoci.php
application/config/mongoci_connect.php
application/config/database.php
application/config/config.php