*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
application/views/old/*
tmp/*
cgi-bin/*
logs/*
new.komodoproject
.htaccess
LICENSE
license.txt
views/*